@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.ttf);
  font-display: swap;
}

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap"); */

/*
--------------------------------------------------------------
COLORS
--------------------------------------------------------------
*/

:root {
  --primary-color-light: #2541b2;
  --secondary-color-light: #4a6fa5;
  --text-color-light: #04151f;
  --background-color-light: #ffffff;

  --primary-color-dark: #4a6fa5;
  --secondary-color-dark: #2541b2;
  --text-color-dark: #ffffff;
  --background-color-dark: #10192d;

  --accent-color-light: #c44900;
  --accent-color-dark: #8a9201;

  --error-color: #6b0303;
  --warning-color: rgb(145, 94, 0);

  --standard-border-radius: 0.5rem;
}

html {
  color-scheme: light dark;
}

body[data-theme="light"] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --accent-color: var(--accent-color-light);
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --icon-fill: var(--primary-color-light);
}

body[data-theme="dark"] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --accent-color: var(--accent-color-dark);
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --icon-fill: var(--primary-color-dark);
}

/*
--------------------------------------------------------------
RESETS
--------------------------------------------------------------
*/

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
--------------------------------------------------------------
BASICS
--------------------------------------------------------------
*/

/* min body height */
body {
  height: 100%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
}

/* Set line-height for all multiline textual elements */
p, div, li {
  line-height: 1.5;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

strong, label {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--standard-border-radius);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  display: flex;
  justify-content:center;
}

button:disabled {
  cursor: default;
}

button:disabled svg {
  color: var(--accent-color);
  fill: var(--accent-color);
}

button svg {
  flex-shrink: 0; /* svg fits the size of the parent */
}

button:hover svg {
  fill: var(--background-color);
}

button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

button:disabled:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
}

button:disabled:hover svg {
  fill: var(--accent-color);
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

/* Styling for the <hr> tag */
hr {
  border: none;
  border-top: 1px solid var(--text-color);
  color: var(--text-color);
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 60%;
  margin: 1rem 0;
}

hr:after {
  background: var(--background-color);
  content: "< >";
  padding: 0 4px;
  position: relative;
  top: -10px;
}

/* Styling for the links */
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color);
}

/* Basic styling for lists */
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

/* Styling for list items */
li {
  margin-top: 0.5rem;
  margin-left: 1em;
}

/* Styling for nested lists */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 5px;
  padding-left: 20px;
}

/* Styling for nested list items */
ul ul li,
ol ol li,
ul ol li,
ol ul li {
  margin-bottom: 5px;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--icon-fill);
}

input[type="text"] {
  background-color: var(--secondary-color);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: var(--text-color-dark);
  border: none;
  outline: none;
  margin: 0.25rem 0;
}

input[type="text"]::placeholder {
  color: var(--text-color-dark);
  font-style: italic;
}

#pagination {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#pagination * {
 margin: 0.25rem;
 font-size: 1rem;
 font-weight: bolder;
 padding: 0.25rem 0.5rem;
 width: 3rem;
}

#pagination span {
  border: none;
  width: 7rem;
}
