@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap");

/*
--------------------------------------------------------------
COLORS
--------------------------------------------------------------
*/

:root {
  --primary-color-light: #2541b2;
  --secondary-color-light: #4a6fa5;
  --text-color-light: #04151f;
  --background-color-light: #ffffff;

  --primary-color-dark: #4a6fa5;
  --secondary-color-dark: #2541b2;
  --text-color-dark: #ffffff;
  --background-color-dark: #10192d;

  --accent-color: #c44900;
}

html {
  color-scheme: light dark;
}

body[data-theme="light"] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
}

body[data-theme="dark"] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
}

/*
--------------------------------------------------------------
RESETS
--------------------------------------------------------------
*/

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
--------------------------------------------------------------
BASICS
--------------------------------------------------------------
*/

/* min body height */
body {
  height: 100%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.1s ease;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; /* Apply the new font */
}

/* Styling for the <hr> tag */
hr {
  border: none;
  border-top: 1px solid var(--text-color);
  color: var(--text-color);
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 60%;
  margin: 1rem 0;
}

hr:after {
  background: var(--background-color);
  content: "< >";
  padding: 0 4px;
  position: relative;
  top: -10px;
}

/* Styling for the links */
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s; /* Add transition effect for smoother change */
}

a:hover {
  color: var(--primary-color); /* Change link color on hover */
}

/* Basic styling for lists */
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

/* Styling for list items */
li {
  margin-top: 0.5rem;
  margin-left: 1em;
}

/* Styling for nested lists */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 5px;
  padding-left: 20px;
}

/* Styling for nested list items */
ul ul li,
ol ol li,
ul ol li,
ol ul li {
  margin-bottom: 5px;
}
