:root {
  --primary-color-light: #007bff;
  --secondary-color-light: #6c757d;
  --text-color-light: #333;
  --background-color-light: #fff;

  --primary-color-dark: #3498db;
  --secondary-color-dark: #bdc3c7;
  --text-color-dark: #eee;
  --background-color-dark: #333;
}

html {
  color-scheme: light dark;
}

body[data-theme="light"] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
}

body[data-theme="dark"] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
}
