@import "./basics.css";

/*
--------------------------------------------------------------
HAMBURGER MENU
--------------------------------------------------------------
*/

#menu-toggle {
  display: block;
  position: relative;
  z-index: 1;
  transform: translateY(-2px);
}

#menu-toggle input {
  display: block;
  width: 38px;
  height: 32px;
  position: absolute;
  top: -2px;
  left: -2px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--background-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s ease, background-color 0.5s ease,
    opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ ul {
  transform: none;
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  top: 41px;
  left: -64px;
  width: 400px;
  padding: 1rem 2rem;
  background: var(--primary-color);
  transform-origin: 0% 0%;
  opacity: 0;
  border-radius: 0.25rem;
  transition: transform 0.5s ease, opacity 0.55s ease;
  box-shadow: var(--secondary-color) 0px 4px 8px -2px,
    var(--primary-color) 0px 0px 0px 1px;
}

#menu li {
  margin-top: 1rem;
}

#menu-toggle input:checked ~ ul {
  transform: none;
  opacity: 1; /* Added opacity rule to make the menu visible when checked */
}

#menu-toggle input:not(:checked) ~ ul {
  transform: translate(-200%, 0);
  opacity: 0; /* Added opacity rule to make the menu invisible when not checked */
}

/*
--------------------------------------------------------------
THEME CHECKBOX
--------------------------------------------------------------
*/

#theme-toggle {
  display: none;
  position: absolute;
}

.theme-label {
  background-color: var(--background-color);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  margin-right: 0.5rem;
  transform: scale(1.25);
}

.theme-label .ball {
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0);
  transition: transform 0.15s ease-in-out;
}

#theme-toggle:checked + .theme-label .ball {
  transform: translateX(24px);
}

/*
--------------------------------------------------------------
SYSTEM MESSAGES
--------------------------------------------------------------
*/

#module-support-warning, #system-message {
  display: none;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color-dark);
}

.warning {
  background-color: var(--warning-color);
}

.error {
  background-color: var(--error-color);
}

.warning > a {
  filter: invert(100%);
  filter: brightness(50%);
}

/*
--------------------------------------------------------------
HEADER AND MAIN
--------------------------------------------------------------
*/

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex; /* Add flex display to center its children */
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#header-content {
  display: flex;
  width: 1024px;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  gap: 1rem;
}

#header-content div:last-of-type {
  margin-left: auto;
}

#logo {
  height: 40px;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

nav a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--background-color);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  color: var(--background-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

main {
  padding-top: 64px;
}

/*
--------------------------------------------------------------
ARTICLES
--------------------------------------------------------------
*/

#article-container {
  text-align: left;
  max-width: 768px;
}

#article-container h1 {
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  width: fit-content;
  text-align: center;
  margin: auto;
}

#article-container img {
  border-radius: 0.5rem;
  height: 256px;
  object-fit: cover;
}

#article-container p {
  margin-top: 0.5rem;
}

.date-modified {
  font-weight: bold;
}

#articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center; /* Horizontal alignment (main axis) */
  align-items: center;
  width: 100%;
}

.article-card {
  width: 330px;
  height: 370px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--secondary-color) 0px 4px 8px -2px,
    var(--primary-color) 0px 0px 0px 1px;
}

.article-card img {
  object-fit: cover;
  height: 33%;
  width: 100%;
  transition: transform 0.5s ease;
}

.article-card img:hover {
  transform: scale(1.05);
}

.article-card .card-content {
  margin: 1rem;
  height: 60%;
  overflow: hidden;
  color: var(--text-color);
  text-align: left;
}

#article-container h2,
.article-card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#article-container h3,
.article-card h3 {
  background-color: var(--accent-color);
  color: var(--text-color-dark);
  border-radius: 0.25rem;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.article-card p {
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-card h4 {
  font-size: 0.8rem;
}

#articles-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

#articles-categories a {
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  color: var(--text-color-dark);
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

#articles-categories a:hover {
  background-color: var(--primary-color);
}

/*
--------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------
*/

@media screen and (max-width: 768px) {
  #article-container {
    width: 90%;
  }
}
