#hero {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 512px;
  padding: 1rem 10%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; /* must be set to allow absoluted positioned childs to be hidden */
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--accent-color) 50%,
    var(--background-color) 100%
  );
}

#hero-images {
  width: 50%;
}

#hero-images :nth-child(1) {
  position: absolute;
  top: 10px;
  right: 5%;
  width: auto;
  filter: drop-shadow(5px 5px 5px var(--primary-color-light));
}

#hero-images :nth-child(2) {
  width: auto;
  position: absolute;
  top: 30%;
  left: 40%;
  filter: drop-shadow(0 0 15px var(--primary-color-light));
}

#tagline {
  text-align: left;
  width: 50%;
  z-index: 1;
  text-shadow: var(--background-color) 0 0 15px;
}

#tagline h1 {
  font-size: 3rem;
  line-height: 1;
}

/*
--------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------
*/

@media screen and (max-width: 768px) {
  #hero {
    flex-direction: column-reverse;
    width: auto;
  }

  #tagline {
    width: 100%;
  }

  #hero-images {
    width: 100%;
  }
}
