<html>
  <body>
    <div class="page-container">
      <h1>Artigos</h1>
      <hr />
      <div id="articles-categories">
        <div id="search-box">
          <svg aria-label="search icon" class="icon">
            <use href="/icons/sprite-outline.svg#magnifyingGlass"></use>
          </svg>
          <input type="text" id="search-input" placeholder="Procurar" />
        </div>
      </div>
      <div id="articles-container"></div>
      <div id="pagination"></div>
    </div>
  </body>
</html>
