<html>
  <body>
    <section id="hero">
      <div id="tagline">
        <h1>Transform your online presence with our services.</h1>
        <h3>We take care of the tech, so you can focus on what you do best.</h3>
        <a href="/contato" class="custom-button">Contact us</a>
      </div>
      <div id="hero-images">
        <img src="./img/home/big-fish.webp" alt="hero" />
        <img src="./img/home/small-fish.webp" alt="hero secondary/" />
      </div>
    </section>
    <div id="upper">
      <!-- The message will change on successful 
             execution of View button-->
      <h3 id="mssg">
        We are here to learn how to load CSS and JS file dynamically
      </h3>
      <h4>
        If the JS file is not loaded yet then the console will throw an error
      </h4>
      <!-- The message() function is in script.js file -->
      <button onclick="message()">View Message</button>
    </div>
    <br />

    <!-- This div would disappear after view  
         message is successfully executed-->
    <div id="lower">
      <!-- The loadCSS would load the styles.css file -->
      <button>Load CSS</button>

      <!-- The loadJS would load the script.js file-->
      <button>Load JS</button>
    </div>
  </body>
</html>
